html,
body
    min-height 100%


body
    padding-top 90px
    overflow-x hidden
    overflow-y scroll
    font-family base-font
    background-color body-bg
    color white

    +above(1200px)
        padding-top 130px


*
    box-sizing border-box;


ul,
ol
    list-style none

    li
        display inline-block


img
    max-width 100%;
    margin 0;
    vertical-align middle;


a
    text-decoration none

    &:focus,
    &:active
        outline none
        border none
        appearance none
        text-shadow none

p
    line-height 1.5

.container
    max-width 1200px
    width 100%
    height 100%
    padding 35px 20px
    margin 0 auto

.site-header
    text-align center

.site-footer
    padding-bottom 35px
    text-align center

    .slash
        display inline-block
        margin 0 10px
        vertical-align middle

    a
        position relative
        color white

        span
            display inline-block
            vertical-align middle
            margin 0 5px

        .icon-arrow-left,
        .icon-arrow-right
            font-size 12px
