.site-header
    text-align center

.container
    center(1200px)

    .inner
        center(600px)
        padding 0 20px

.forma
    width 100%
    margin 0 auto

    //GENERAL FORM STYLES
    label
        position absolute
        top calc(50% - 10px)
        left 0
        transition top 300ms ease-out

    input,
    textarea,
    button
        border none
        appearance none
        outline none

    input,
    textarea
        width 100%
        padding 15px 0

    button[type='submit']
        background black
        color white
        min-width 200px
        padding 20px 25px

    input:focus + label
        top 0

    textarea:focus + label
        top 0

    .form-group
        position relative
        margin 15px 0
        padding 15px 0


        label
            > .msg
                display inlinne
                opacity 0
                visibility hidden
                transition transform 400ms ease-out, opacity 400ms ease-out, visibility 400ms ease-out
                transform translateX(-100%)

        .hint
            display block
            margin 10px 0
            opacity 0
            visibility hidden
            transition opacity 400ms ease-out, visibility 400ms ease-out

            &.visible
                transition-delay 200ms
                opacity 1
                visibility visible

        .bottom-bar
            display block
            width 100%
            height 2px
            background-color black
            transition background 400ms ease-out

        //ERROR STATES
        &.error
            label
                top 0

                > .msg
                    width 100%
                    opacity 1
                    visibility visible
                    transform translateX(0)

            .bottom-bar
                background-color red

        //SUCCESS STATES
        &.success
            label
                top 0

                > .msg
                    opacity 0
                    visibility hidden
                    transform translateX(-100%)

            .bottom-bar
                background-color green
